html {
  width: 100%; height: 100%;
}

body {
  padding: 1rem 1.25rem; margin: 0;
}

textarea {
  width: 90%; height: 5rem;
}

section {
  margin-top: 1rem;
}

section#explainer {
  margin-top: 2rem; padding-top: 1rem;
  border-top: 1px solid lightgray;
}